$body-background-color: #28304a;
$background: #394366;
$text: #dadada;
$text-strong: $text;
$red: #ff4c74;
$blue: #37aaff;
$green: #57c681;
$codeFont: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
$codeFontSize: 13px;
$input-background-color: transparent;
$input-border-color: #383c69;
$input-color: #abb4d0;
$link: #8095dd;
$link-hover: #dadada;
$label-color: $text;